.button {
	background-color:transparent;
	border:2px solid #ffff;
	display:inline-block;
	cursor:pointer;
	color: #ffff;
	font-family: 'Philosopher', sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	margin-right: 10px;
}
.button:hover {
	background-color: #ffff;
	color: black;
}
.button:active {
	position:relative;
	top:1px;
}