.button {
	-moz-box-shadow: 3px 4px 0px 0px #ffc400;
	box-shadow: 0.5px 0.5px #ffc400, 1px 1px #ffc400, 1.5px 1.5px #ffc400, 2px 2px #ffc400, 2.5px 2.5px #ffc400, 3px 3px #ffc400, 3.5px 3.5px #ffc400, 4px 4px #ffc400;
	background-color:transparent;
	border:1px solid #ffc400;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:'Archivo Black', sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	margin-right: 10px;
}
.button:hover {
	box-shadow: 1px 1px #ffc400, 2px 2px #ffc400, 3px 3px #ffc400, 4px 4px #ffc400, 5px 5px #ffc400, 6px 6px #ffc400, 7px 7px #ffc400, 8px 8px #ffc400;
}
.button:active {
	position:relative;
	top:1px;
}