.navbar{
	overflow: hidden;
	float: top;
	background-color: transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
}


.navbar h1{
	font-family: 'Philosopher', sans-serif;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #ffff;
	font-size: 40px;
}
